.box {
  height: 5%;
  width : 100%;
  background-color: blue;
}

.box-container {
  transform: rotate(180deg); 
  height: 100px;
  width: 40px; 
}

.hide {
  display : none;
}

.tablet-image-container{
  height : 20%;
  width : 20%;
}

.tablet-amount-container{
  height : 20%;
  width : 80%;
}

.tablet-amount {
  height : 10%;
  width : 10%;
  display : inline-block;
}

.amount-container{
  display : inline;
}



