.box {
  height: 5%;
  width : 100%;
  background-color: rgb(252, 100, 45, 0.7);
  position : absolute;
  bottom : 0;
}


.box-container {
  position: absolute;
  bottom: 0; 
  height: 250px;
  width: 250px;
  z-index: -1;
  -webkit-clip-path: polygon(64% 10%, 90% 33%, 78% 50%, 61% 67%, 42% 81%, 18% 60%, 36% 39%);
  clip-path: polygon(64% 10%, 90% 33%, 78% 50%, 61% 67%, 42% 81%, 18% 60%, 36% 39%);
}

.syringe {
  display: block;
  height: 250px;
  width: 250px;
}

.syringe-fill-container {
   position: relative;
}

.hide {
  display : none;
}

.tablet-image-container{
  height : 20%;
  width : 20%;
}

.tablet-amount-container{
  height : 20%;
  width : 80%;
}

.tablet-amount {
  height : 10%;
  width : 10%;
  display : inline-block;
}

.amount-container{
  display : inline;
}

.label {
  padding: 5%;
  margin: 5% 15%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid grey;
}

.text-edit-buttons {
  margin: 5px;
}

#amount-text{
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.drugform-icons {
  font-size : 5rem;
}

.liquid, .tablet {
  display: inline-block
}

.label-instructions-header{
  font-size : 2rem;
}










